.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
}
.square {
  width: 100px;
  height: 100px;
}

.left, .colmiddle {
  border-right: solid 1px black;
}

.top, .rowmiddle {
  border-bottom: solid 1px black;
}

.resetButton {
  width: 100px;
  height: 100px;
}